<div class="jumbotron vertical-center">
  <h1><i class="fa fa-user-secret"></i> Tasky</h1> 
  <h4 class="subtitle-home">Helping maximize your productivity!</h4>
  <!-- directing you to the registration page -->
</div>
  